@page
@model IndexModel
@{
    ViewData["Title"] = "Mongo2Es";
}

<style>
    /*table {
        table-layout: fixed;
    }
    .table tbody tr td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }*/
</style>

<div class="page-header">
    <h2>Sync Node List</h2>
</div>
<div class="table-responsive">
    <form method="post">

        @foreach (var node in Model.Nodes)
        {
            <div class="panel panel-primary">
                <div class="panel-heading">@node.Name @(!string.IsNullOrWhiteSpace(node.ParentDataBase) ? "(child)" : "")</div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                MongoUrl: @node.MongoUrl
                            </td>
                            <td>
                                ElasticUrl: @node.EsUrl
                            </td>
                        </tr>
                        <tr>
                            <td>
                                DataBase: @node.DataBase @(!string.IsNullOrWhiteSpace(node.ParentDataBase) ? $"(parent:{node.ParentDataBase})" : "")
                            </td>
                            <td>
                                Index: @node.Index
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Collection: @node.Collection @(!string.IsNullOrWhiteSpace(node.ParentCollection) ? $"(parent:{node.ParentCollection})" : "")
                            </td>
                            <td>
                                Type: @node.Type
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Model.SyncSwitchDic.GetValueOrDefault(node.Switch)  / @Model.SyncStatusDic.GetValueOrDefault(node.Status)
                            </td>
                            <td>
                                <button class="btn btn-sm btn-warning" type="submit" onclick="return confirm('Are you sure you want to do this operation?');"
                                        asp-page-handler="switch" asp-route-id="@node.ID" asp-route-flag="@node.Switch">
                                    @(node.Switch == Middleware.SyncSwitch.Stop ? "开启" : "停止")
                                </button>

                                @if (node.Switch == Middleware.SyncSwitch.Stop)
                                {
                                    <a class="btn btn-sm btn-success" asp-page="./Edit" asp-route-id="@node.ID">编辑</a>
                                    <button class="btn btn-sm btn-danger" type="submit" onclick="return confirm('Are you sure you want to delete this item?');"
                                            asp-page-handler="delete" asp-route-id="@node.ID">
                                        删除
                                    </button>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>



        }



        <a class="btn btn-primary" asp-page="./Edit">Create</a>
    </form>
</div>
